<div class="container">
<div class="row justify-content-center text-center">
 <div class="col col-3 bg-white habilidades" style="border-radius:1rem 0 0 1rem;box-shadow:0 5px 5px 0 gray ">
       <i class="bi bi-hdd-fill"></i>
        <h3 class="text-center">Back-end</h3>
        <p>Trabajo desde el desarrollo, prueba automatizada hasta la puesta en produccion de forma continua!</p>

        <p class="text-primary cabecera">Stack:</p>
        <p>ASP .NET, SQL Server,Oracle, MySQL,PHP</p>

        <p class="text-primary cabecera"> Experiencia</p>
        <ul>
            <li>Web APIS</li>
            <li>ASP MVC</li>
            <li>Queries avanzados</li>

        </ul>
    </div>
    <div class="col col-3 bg-white habilidades" style="border-radius:0 1rem 1rem 0; box-shadow:0 5px 5px 0 gray">
        <i style="width: 10px;" class="bi bi-code-slash"></i>
        <h3 class="text-center">Front-end</h3>
        <p>Trabajo desde el desarrollo, prueba automatizada hasta la puesta en produccion de forma continua!</p>

        <p class="text-primary cabecera">Stack:</p>
        <p>ASP .NET, SQL Server,Oracle, MySQL,PHP</p>

        <p class="text-primary cabecera"> Experiencia</p>
        <ul>
            <li>Web APIS</li>
            <li>ASP MVC</li>
            <li>Queries avanzados</li>

        </ul>
    </div>


</div>
</div>

