@model IEnumerable<Proyecto>
 
@if (Model is not null){

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 text-center g-4">

        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@item.ImagenUrl" class="card-imgg-top" alt="Imagen de prueba"/>

                    <div class="card-body">
                        <h5 class="card-title">@item.Titulo</h5>
                        <p class="card-text">@item.Descripcion</p>

                    </div>
                    <div class="card-footer">
                        <a href="@item.Link" class="btn btn-primary" target="_blank" rel="noopener norreferer">Visitar</a>
                    </div>
                    
                </div>
            
            </div>
            
        }
    </div>
    </div>
}