
<div class="text-center">
    <h1 class="dsplay-4"> Soy Yohswha Bello</h1>
    <h2>Soy desarrollador web</h2>
    <div id=foto>
    <img src="./imagenes/foto.png" alt="mosrando">
    </div>
</div>
<div class="text-center">
    <img class="dotnt-logo" src="./imagenes/dotnet-imagen-2.png" alt="">
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida"> <h2>Bienvenido a mi Portafolio</h2>
        <p>
            He estado trabajando en diversos proyectos de sistemas informaticos como aplicacion para movil(Android y apple).
            He estado trabajando en diversos proyectos de sistemas informaticos como aplicacion para movil(Android y apple).
            He estado trabajando en diversos proyectos de sistemas informaticos como aplicacion para movil(Android y apple).
            He estado trabajando en diversos proyectos de sistemas informaticos como aplicacion para movil(Android y apple).
            He estado trabajando en diversos proyectos de sistemas informaticos como aplicacion para movil(Android y apple).
        </p>
    </div>
</div>
<div style=" margin-top: -105px;">
