@{
    ViewData["Title"]="Contacto";
}
<h1>Formulario de Contactos</h1>
<form asp-controller="Home" asp-action="Contacto">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
         <input type="text" class="form-control" id="nombre" placeholder="Introduzca el nombre">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3"> 
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" name="mensaje" id="mensaje" cols="20" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>