@{
    ViewData["Title"]="Thanks";
}

<h1>
    Gracias Por ponertee en contacto conmigo
</h1>
<p>Tu mensaje sera contestado ASAP</p>
<div><a asp-action="index" asp-controller="Home"> Volver al Inicio</a></div>